@media only screen and (max-width: 1200px){
	.form-element input, .form-element textarea{
		width: 50%;
	}
}

@media only screen and (max-width: 1000px){
	nav .nav ul li a{
		padding: 10px 15px;
	}

	nav .nav ul li a:nth-child(1), nav .nav ul li a:nth-child(2){
		padding-left: 15px;
		padding-right: 15px;
	}

	section{
		background-attachment: scroll;
	}

	section p{
		padding-left: 5%;
		padding-right: 5%;
	}

	.form-element input, .form-element textarea{
		width: 60%;
	}

	.footer-lists{
		width: 50%;
	}
	/* have to insert handburger form of navigation*/
}

@media only screen and (max-width: 720px){
	.form-element input, .form-element textarea{
		width: 80%;
	}	

}

@media only screen and (max-width: 520px){
	.small-intro, .example-story, .usefull-info{
		max-height: 100vh;
		overflow: hidden;
	}
	
	.content span{
		font-size: 2em;
	}

	section p{
		font-size: 1em;
	}

	.form-element input, .form-element textarea{
		width: 90%;
	}

	.form-element textarea{
		height: 200px;
	}

	.footer-lists{
		width: 100%;
		height: 180px;
	}

}